/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-itmar-guest-contact-block {
	.figure_fieldset {
		display: none;

		&.appear {
			display: block;
		}
	}

	#to_confirm_form {
		.err_msg {
			position: absolute;
			font-size: 0.8em;
			color: rgb(209, 6, 6);
			top: 90%;
			left: 10%;
		}
	}
}